#answer {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.ball {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: inline-block;
}

#container-colors {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    width: auto !important;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

#container-buttons {
    text-align: center;
}

#reset-game {
    height: 30px;
}

#btn-difficulty {
    height: 30px;
}

#div-frase {
    margin-bottom: -50px;
}
